*{padding: 0rem;
margin: 0rem;
box-sizing: border-box;
font-family:'Unbounded', cursive;}

body{background-image: linear-gradient(200deg, rgb(68, 60, 215) 25%, rgb(34, 0, 128) );}


header{
  background-color: #000000;}

#heroimg{
width: 20rem;
height: auto;
align-items: center;
margin: auto;
margin-top:5rem;
margin-bottom: 5rem;
border-style: solid;
border-width: 0.5rem;
border-color: aliceblue;
border-radius: 2rem;}

#aboutimg{
  display: flex;
  width: 90%;
  height: auto;
  align-items: center;
  margin: auto;
  margin-top:5rem;
  margin-bottom: 5rem;
  border-style: solid;
  border-width: 0.5rem;
  border-color: aliceblue;
  border-radius: 2rem;}

  .wrapper2{max-width: 90%;
  justify-content: center;
margin: auto;}

.wrapper2 li{list-style: circle;}

.wrapper{max-width:70%;
display: flex;
margin: auto;
justify-content: center;}

li{
  list-style: none;}

a{color: rgb(117, 110, 255);
text-decoration: none;}

.navbar{min-height: 70px;
display:flex;
justify-content: space-between;
align-items: center;
padding: 0 24px;}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;}

.nav-branding{
  font-size: 2rem;
  font-weight: 500;
color: aliceblue;
transition: 0.7s ease;}

.nav-branding:hover{ 
  color:rgb(193, 190, 255) ;
  ;}


.nav-link{transition: 0.7s ease;}

.nav-link:hover{
  color:rgb(255, 255, 255) ;
  ;}

.hamburger{display: none;
cursor:pointer;}

.bar{display: block;
width: 25px;
height: 3px;
margin: 5px auto;
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
background-color: rgb(255, 255, 255);}

#message{color: rgb(255, 255, 255);
padding: 5rem;
margin-top: 2rem;
}

#message-mob{display: none;}

#end{background-color: #101010;
padding:2rem;
margin-top: 2rem;}

h2{color: aliceblue;
  display: flex;
align-items: center;
margin: auto;
justify-content: center;
margin-top:1rem;}

footer{display: flex;
  justify-content: center;
flex-direction: row;
margin-top:3rem;
margin-bottom: 3rem;}

footer img{ width: 3rem; 
  margin:1rem;
height: auto;
display: flex;
justify-content: center;
flex-direction: row;}

ul{display: flex;
flex-direction: row;
margin: auto;
justify-content: center;}


#copytext{color: aliceblue;
display: flex;
justify-content: center;
margin: auto;
font-size: xx-small;}

/* -----------------------------------------------------form style--------------------------------------------------------------------------- */
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

textarea {
  height: 100px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
/* ---------------------------------------------------------portfolio styles------------------------------------------------------------ */

.container-port {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

#porthead{
  font-weight: 400;
  padding-top:2rem;
  color: rgb(255, 255, 255);
justify-content: left;
margin-left:2rem;
display: flex;}

#portinfo{padding-left:2rem;
  padding-right:2rem;
  padding-bottom: 0.5rem;
}

h3{color: aliceblue;
display: flex;
font-weight: 400;
justify-content: center;
margin: auto;}

#portbio{padding-left:2rem;
  padding-right:2rem;
padding-bottom: 5rem;}

.category {
  margin-bottom: 30px;
  
}

.category-title {
  font-size: 24px;
  font-weight: 600;
  color: rgb(168, 163, 255);
  margin-bottom: 10px;
  margin-top: 3rem;
}

.portfolio-piece {
  border: 1rem solid rgb(168, 163, 255);
  padding: 20px;
  background-color: #101010;
  border-radius: 3rem;
  margin-bottom: 20px;
}

.piece-image {
  max-width: 100%;
  display: flex;
  height: auto;
  margin: auto;
  padding: 1rem;
  justify-content: center;
  border-radius: 2rem;
}

.piece-bio {
  margin-top: 10px;
  font-size: 14px;
  justify-content: center;
  color: #b7b7b7;
}

/* -----------------------------------------------------------about styles-------------------------------------------------------------- */

#resumeimg{width: 85%;
  display: flex;
  height: auto;
  margin: auto;
  justify-content: center;
  border-radius: 2rem;
  border-width: 0.5rem;
  border-color: rgb(168, 163, 255);
  border-style: solid;}

/* -------------------------------------------------------Media Queries------------------------------------------------------------- */
@media(max-width:768px){

  .hamburger{display: block;}

  .hamburger.active .bar:nth-child(2){opacity: 0;}

    .hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
      position: fixed;
    left:-100%;
  top: 70px;
gap: 0;
flex-direction: column;
background-color: #262626;
width: 100%;
text-align: center;
transition: 0.3s;}

.nav-item{
  margin: 16px 0;
}

.nav-menu.active{
  left:0;
}

#resumeimg{width: 100%;
  height: auto;
  border-radius: 2rem;
  border-width: 0.5rem;
  margin: auto;
  display: flex;
  border-color: rgb(168, 163, 255);
  border-style: solid;}
}

@media(max-width:1175px){
  #message{display: none;}
  
  #message-mob{display: flex;
  color: aliceblue;
  font-size: small;}

  #message-mob p{padding-left: 1rem;}

  #message-mob h1{font-size: medium;}

  .wrapper{display:block;
  justify-content: center;
align-items: center;
margin:auto;}
  
#heroimg{width: 90%;
    height: auto;
    margin: auto;
    justify-content: center;
    margin-top: 3rem;
    margin-left:4.5%;
    margin-bottom: 3rem;
  }
  
  h2{font-size: small;}

  footer img{ width: 3rem; 
    margin:0.5rem;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;}
  

}
/* -------------------------------------------------------Media Queries------------------------------------------------------------- */